.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 30px 60px;
    border-top: 1px solid var(--muted);
    cursor: pointer;
    transition: all 0.2s;

    h2{
        font-size: clamp(30px, 5vw, 60px);
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;
    }

    p{
        transition: all 0.4s;
        font-weight: 300;
    }

    &:last-of-type{
        border-bottom: 1px solid var(--muted);
    }

    &:hover{
        opacity: 0.5;

        h2{
            transform: translateX(-10px);
        }

        p{
            transform: translateX(10px);
        }
    }

    .textContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .mobileImage {
        display: none;
        width: 100%;
        margin-top: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .project {
        padding: 40px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .mobileImage {
            display: block;
            margin-top: 10px;
        }
        .textContainer {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: 0;
            h2 {
                font-size: 32px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}