@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: #f9fafb;
    --surface: #e5e7eb;
    --accent: #059669;
    --text: #111827;
    --muted: #6b7280;
    
    --bg-color: #f9fafb;
    --text-color: #111827;
    --secondary-bg: #e5e7eb;
    --accent: #059669;
  }
 
  .dark {
    --background: #111827;
    --surface: #1f2937;
    --accent: #10b981;
    --text: #f9fafb;
    --muted: #9ca3af;
    
    --bg-color: #111827;
    --text-color: #f9fafb;
    --secondary-bg: #1f2937;
    --accent: #10b981;
  }
}
  
@layer base {
  body {
    margin: 0px;
    overflow: hidden;
    cursor: wait;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}