.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;
}

@media (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: flex-start;
    }
}
