.description{
    padding-left: clamp(20px, 10vw, 200px);
    padding-right: clamp(20px, 10vw, 200px);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    .body{
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        position: relative;
        p{
            margin: 0px;
            &:nth-of-type(1){
                font-size: clamp(24px, 4vw, 36px);
                gap: 8px;
                line-height: 1.3;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
            &:nth-of-type(2){
                font-size: clamp(16px, 2vw, 18px);
                width: 100%;
                max-width: 80%;
                font-weight: 300;
            }
        }
        .button{
            top: 80%;
            left: calc(100% - clamp(100px, 15vw, 200px)); 
            width: clamp(100px, 10vw, 180px);
            height: clamp(100px, 10vw, 180px);
            background-color: var(--secondary-bg);
            color: var(--text-color);
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
            }
        }
    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid var(--muted);
    }
}

@media (max-width: 768px) {
    .description .body {
        .button {
            position: relative;
            left: auto;
            top: auto;
            margin-top: 30px;
            width: 120px;
            height: 120px;
        }
    }
}